# Correlacion nacionalidad-sector

In [45]:
#importing the libraries.
import pandas as pd

In [46]:
# Load the data into a DataFrame
data = pd.read_csv("Poblacion en cada sector.csv", sep=";")

# Extract column names
sectors = [ "Primario", "Industria", "Construccion", "Servicios"]
data

,Municipio,Total,Primario,Industria,Construccion,Servicios,No Consta
0,Total,3006852,36090,433809,184209,2352078,663
1,08001 Abrera,5604,21,1569,288,3729,3
2,08014 Aiguafreda,1143,6,276,75,786,0
3,08003 Alella,4158,24,417,204,3510,3
4,"08005 Ametlla del Vallès, L'",4176,27,702,261,3183,3
...,...,...,...,...,...,...,...
305,43156 Ulldecona,2466,252,615,99,1497,0
306,43161 Valls,9822,258,2568,498,6498,3
307,43162 Vandellòs i l'Hospitalet de l'Infant,2565,36,447,174,1908,0
308,"43163 Vendrell, El",14064,129,1908,1170,10854,6
309,43171 Vila-seca,8733,111,1341,915,6360,3

In [47]:
# Calculate mean and standard deviation for each sector
data[sectors] =  data[sectors].div(data["Total"], axis=0)
data[sectors]

     Primario  Industria  Construccion  Servicios
0    0.012003   0.144273      0.061263   0.782239
1    0.003747   0.279979      0.051392   0.665418
2    0.005249   0.241470      0.065617   0.687664
3    0.005772   0.100289      0.049062   0.844156
4    0.006466   0.168103      0.062500   0.762213
..        ...        ...           ...        ...
305  0.102190   0.249392      0.040146   0.607056
306  0.026268   0.261454      0.050703   0.661576
307  0.014035   0.174269      0.067836   0.743860
308  0.009172   0.135666      0.083191   0.771758
309  0.012710   0.153555      0.104775   0.728272

[310 rows x 4 columns]

In [49]:
mean_sectors = data[sectors].mean()
std_sectors = data[sectors].std()

# Calculate the normalized value for each municipio and sector
normalized_data = data.copy()
for sector in sectors:
    normalized_data[sector] = (data[sector] - mean_sectors[sector]) / std_sectors[sector]

data_dict = data.set_index("Municipio").to_dict(orient="index")

    
normalized_data[sectors]

     Primario  Industria  Construccion  Servicios
0   -0.420571  -0.596571     -0.525200   0.862770
1   -0.649359   1.136892     -0.960051  -0.501679
2   -0.607731   0.644990     -0.333408  -0.241846
3   -0.593246  -1.158422     -1.062685   1.585938
4   -0.574026  -0.292173     -0.470710   0.628863
..        ...        ...           ...        ...
305  2.078894   0.746183     -1.455460  -1.183328
306 -0.025229   0.900262     -0.990419  -0.546547
307 -0.364242  -0.213415     -0.235635   0.414504
308 -0.499008  -0.706526      0.440785   0.740346
309 -0.400954  -0.478005      1.391608   0.232446

[310 rows x 4 columns]

In [55]:
# Load the file
file_path = "Poblacion de cada nacionalidad.csv"  # Replace with your file path
data = pd.read_csv(file_path, sep=";", encoding="latin-1")

# Extract the first row (columns serve as keys)
keys = data.columns.tolist()